<font color=Purple>
    
# **1.4 Ingresar y leer datos en la BD** </font>

### Para ingresar datos a una base de datos, primero debemos definir la estructura de la tabla que almacenará los datos.

### `CREATE TABLE` es el comando para crear una tabla.

In [10]:
import sqlite3

In [12]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

# se crea una tabla con CREATE TABLE
cursor.execute("CREATE TABLE estudiantes (email VARCHAR(100), carrera VARCHAR(100), nombre VARCHAR(100), edad INTEGER)")

conexion.close()

OperationalError: table estudiantes already exists

### INSERT INTO se utiliza para ingresar datos.

In [15]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

#se inserta un registro en la tabla
cursor.execute("INSERT INTO estudiantes VALUES ('mail@gmail.com','Disenio','Mariana',32 )")

#se guardan los datos con commit
conexion.commit()

conexion.close()

### SELECT * FROM se utiliza para leer el contenido de una tabla.

In [16]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

#seleccionamos todos los registros en la tabla.
cursor.execute("SELECT * FROM estudiantes")

usuarios = cursor.fetchone()
print(usuarios)

('bluenote@googlemail.com', 'Artes', 'Sharon', 27)

### Ingresar y leer varios registros al mismo tiempo.

In [18]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

usuarios = [
    ('parrilla@vip.com','Arquitectura','Giulia',26),
    ('lollipop@vip.com','Contaduría','Rosana',60),
    ('sol@google.com','Estadística','Sol',30),
    ('lillo@google.com','Informática','Liliana',60),
    ('imprentaya@vip.com','Periodismo','Luana',21)
]

cursor.executemany("INSERT INTO estudiantes VALUES(?,?,?,?)",usuarios)

conexion.commit()

conexion.close()

In [20]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

#Recuperamos los registros de la tabla
cursor.execute("SELECT * FROM estudiantes")

usuarios = cursor.fetchall()

#print(usuarios)

for u in usuarios:
    print(u)

conexion.close()

('bluenote@googlemail.com', 'Artes', 'Sharon', 27)
('parrillaexquisita@vip.com', 'Arquitectura', 'Giulia', 26)
('lollipopbusiness@vip.com', 'Contaduría', 'Rosana', 60)
('solfernandez@googlemail.com', 'Estadística', 'Sol', 30)
('carlitos@googlemail.com', 'Computación', 'Carlos', 60)
('imprentadetata@vip.com', 'Periodismo', 'Luciano', 21)
('mail@gmail.com', 'Disenio', 'Mariana', 32)
('parrilla@vip.com', 'Arquitectura', 'Giulia', 26)
('lollipop@vip.com', 'Contaduría', 'Rosana', 60)
('sol@google.com', 'Estadística', 'Sol', 30)
('lillo@google.com', 'Informática', 'Liliana', 60)
('imprentaya@vip.com', 'Periodismo', 'Luana', 21)