<font color=Purple>
    
# _3.4 Conjuntos_ </font>

### Es una colección de datos, y contienen valores únicos.
### Se diferencia de las tuplas y listas:
+ Cada elemento del conjunto es único.
+ Sus elementos no están ordenados.
+ Sus valores se colocan entre llaves{}.

In [4]:
conjuntoVacío = set()
conjunto = {1,2,3}
print(type(conjuntoVacío), conjunto)

<class 'set'> {1, 2, 3}

<font color=Purple>
    
# _Métodos_ </font>

### Add(): Nos permite agregar elementos al conjunto.

In [5]:
conjunto.add(4)
conjunto.add(5)
conjunto.add("C")
conjunto.add("A")
conjunto.add("P")
conjunto

{1, 2, 3, 4, 5, 'A', 'C', 'P'}

In [6]:
conjunto.add("C") #No agrega C porque ya está en el conjunto
print(conjunto)

{1, 2, 3, 4, 5, 'C', 'A', 'P'}

### Podemos utilizar los conjuntos para verificar pertenencia.

In [7]:
grupo = {"Luis", "Mariana", "Víctor", "Aarón", "Joel"}
grupo

{'Aarón', 'Joel', 'Luis', 'Mariana', 'Víctor'}

In [9]:
"Víctor" in grupo

True

In [10]:
"Joel" not in grupo

False

In [11]:
4 not in grupo

True

In [12]:
10 in grupo

False

### Un conjunto elimina automáticamente los elementos duplicados

In [14]:
grupoAutos = {"Ford","Ford", "Chevrolet", "Toyota"}
grupoAutos

{'Chevrolet', 'Ford', 'Toyota'}

### Con esta propiedad podemos pasar de conjunto a lista para eliminar valores duplicados.

In [15]:
extra = [1,1,2,2,3,3,3,4,5,5,4,5,6]
extra

[1, 1, 2, 2, 3, 3, 3, 4, 5, 5, 4, 5, 6]

In [16]:
c= set(extra) #Paso la lista a conjunto para eliminar los duplicados
print(c)

{1, 2, 3, 4, 5, 6}

In [17]:
sinDuplicados = list(c) #Paso el conjunto a lista
print(sinDuplicados)

[1, 2, 3, 4, 5, 6]

### Podemos hacer la conversión en una sóla línea

In [18]:
noDuplicados = list(set(extra))
print(noDuplicados)

[1, 2, 3, 4, 5, 6]

### Cuando aplicamos la conversión a una cadena, el conjunto resultante incluye solo las letras únicas de ésta.

In [22]:
cadena = "Jefe de Jefe, Subjefe de Subjefe, Empleado de Empleado"
set(cadena) #Imprime todas las letras sin repetir ninguna

{' ',
 ',',
 'E',
 'J',
 'S',
 'a',
 'b',
 'd',
 'e',
 'f',
 'j',
 'l',
 'm',
 'o',
 'p',
 'u'}