#**3.3 Operaciones con DataFrames**

In [1]:
import numpy as np
import pandas as pd

In [2]:
nros_array = np.random.randint(1, 20, size=10, dtype=int) #CREO UN ARRAY CON VALORES RANDOM

df = pd.DataFrame(nros_array)
df

    0
0  11
1  14
2   8
3   3
4  16
5  16
6  19
7   6
8   9
9   6

In [3]:
#AGREGAR UNA NUEVA COLUMNA

df['valor_inicial'] = 10

df['perdidas'] = [(i+2)*np.e for i in range(10)]

df['total'] = round(df['perdidas'] * 100, 2)

df['Columna_random'] = 0
df

    0  valor_inicial   perdidas    total  Columna_random
0  11             10   5.436564   543.66               0
1  14             10   8.154845   815.48               0
2   8             10  10.873127  1087.31               0
3   3             10  13.591409  1359.14               0
4  16             10  16.309691  1630.97               0
5  16             10  19.027973  1902.80               0
6  19             10  21.746255  2174.63               0
7   6             10  24.464536  2446.45               0
8   9             10  27.182818  2718.28               0
9   6             10  29.901100  2990.11               0

In [4]:
#CAMBIAR EL NOMBRE DE UNA COLUMNA, PRIMERO IMPRIMO LOS NOMBRES DE LAS COLUMNAS

df.columns

Index([0, 'valor_inicial', 'perdidas', 'total', 'Columna_random'], dtype='object')

In [5]:
#MODIFICO LOS NOMBRES DE LAS COLUMNAS

df.columns = ['id', 'Valor_inicial', 'Perdidas', 'Total', 'Columna_random']
df

   id  Valor_inicial   Perdidas    Total  Columna_random
0  11             10   5.436564   543.66               0
1  14             10   8.154845   815.48               0
2   8             10  10.873127  1087.31               0
3   3             10  13.591409  1359.14               0
4  16             10  16.309691  1630.97               0
5  16             10  19.027973  1902.80               0
6  19             10  21.746255  2174.63               0
7   6             10  24.464536  2446.45               0
8   9             10  27.182818  2718.28               0
9   6             10  29.901100  2990.11               0

In [7]:
#MODIFICO UNA COLUMNA

df['Valor_inicial'] = [(i*8.5)+i for i in range(1,11)]

df

   id  Valor_inicial   Perdidas    Total  Columna_random
0  11            9.5   5.436564   543.66               0
1  14           19.0   8.154845   815.48               0
2   8           28.5  10.873127  1087.31               0
3   3           38.0  13.591409  1359.14               0
4  16           47.5  16.309691  1630.97               0
5  16           57.0  19.027973  1902.80               0
6  19           66.5  21.746255  2174.63               0
7   6           76.0  24.464536  2446.45               0
8   9           85.5  27.182818  2718.28               0
9   6           95.0  29.901100  2990.11               0

In [8]:
#ELIMINAR UNA COLUMNA

del df['Columna_random']

df

   id  Valor_inicial   Perdidas    Total
0  11            9.5   5.436564   543.66
1  14           19.0   8.154845   815.48
2   8           28.5  10.873127  1087.31
3   3           38.0  13.591409  1359.14
4  16           47.5  16.309691  1630.97
5  16           57.0  19.027973  1902.80
6  19           66.5  21.746255  2174.63
7   6           76.0  24.464536  2446.45
8   9           85.5  27.182818  2718.28
9   6           95.0  29.901100  2990.11

In [14]:
#ELIMINAR FILAS Y COLUMNAS CON DROP, SIN MODIFICAR EL DF ORIGINAL

c = df.drop([2,3,4], axis = 0)
print(f"Se eliminan las filas 2, 3, 4\n{c}\n")

d = df.drop(['Valor_inicial'], axis = 1)
print(f"Se elimina la columna Valor_inicial\n{d}\n")

Se eliminan las filas 2, 3, 4
   id  Valor_inicial   Perdidas    Total
0  11            9.5   5.436564   543.66
1  14           19.0   8.154845   815.48
5  16           57.0  19.027973  1902.80
6  19           66.5  21.746255  2174.63
7   6           76.0  24.464536  2446.45
8   9           85.5  27.182818  2718.28
9   6           95.0  29.901100  2990.11

Se elimina la columna Valor_inicial
   id   Perdidas    Total
0  11   5.436564   543.66
1  14   8.154845   815.48
2   8  10.873127  1087.31
3   3  13.591409  1359.14
4  16  16.309691  1630.97
5  16  19.027973  1902.80
6  19  21.746255  2174.63
7   6  24.464536  2446.45
8   9  27.182818  2718.28
9   6  29.901100  2990.11

In [16]:
#MODIFICAR EL √çNDICE

i = ['001', '002', '003', '004', '005', '006', '007', '008', '009', '010']

df.index = i

df

     id  Valor_inicial   Perdidas    Total
001  11            9.5   5.436564   543.66
002  14           19.0   8.154845   815.48
003   8           28.5  10.873127  1087.31
004   3           38.0  13.591409  1359.14
005  16           47.5  16.309691  1630.97
006  16           57.0  19.027973  1902.80
007  19           66.5  21.746255  2174.63
008   6           76.0  24.464536  2446.45
009   9           85.5  27.182818  2718.28
010   6           95.0  29.901100  2990.11