#**3.4 Indexación y Filtrado**

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(
    np.random.randint(0, 10, size=(10,2)),
    index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],
    columns = ['Cod_Empleado', 'Calificación']
)

df

   Cod_Empleado  Calificación
a             4             5
b             2             2
c             1             6
d             1             6
e             4             3
f             0             7
g             1             1
h             3             7
i             9             0
j             1             8

In [9]:
#SELECCIONAR FILAS CON "LOC"

print(f"Selecciona una fila\n{df.loc['a']}\n")

print(f"Selecciona un conjunto de filas \n{df.loc['c':'f']}\n")

print(f"Selecciona filas de una columna en particular\n{df.loc[df.index[3:7],'Cod_Empleado']}\n")

Selecciona una fila
Cod_Empleado    4
Calificación    5
Name: a, dtype: int64

Selecciona un conjunto de filas
   Cod_Empleado  Calificación
c             1             6
d             1             6
e             4             3
f             0             7

Selecciona filas de una columna en particular
d    1
e    4
f    0
g    1
Name: Cod_Empleado, dtype: int64

In [12]:
#SELECCIONAR FILAS CON "ILOC"

print(f"Se selecciona hasta la fila 3 \n{df.iloc[:4]}\n")

print(f"Se selecciona de la fila 4 en adelante \n{df.iloc[4:]}\n")

Se selecciona hasta la fila 3
   Cod_Empleado  Calificación
a             4             5
b             2             2
c             1             6
d             1             6

Se selecciona de la fila 4 en adelante
   Cod_Empleado  Calificación
e             4             3
f             0             7
g             1             1
h             3             7
i             9             0
j             1             8