#**3.6 Fechas con Pandas**

In [6]:
import datetime
import numpy as np
import pandas as pd

####**.to_datetime()**

Convierte una columna de un DataFrame en un objeto timestams de Pandas.

In [7]:
fecha = pd.to_datetime('23FEB2021')

fecha.year

2021

####**.date_range()**

Permite generar un rango de fechas.

In [9]:
fecha_inicio = pd.date_range(start = '24/4/2022', end = '24/5/2022', freq='D')

print(f"FECHA INICIO \n{fecha_inicio}")

fecha_fin = pd.date_range(start = '24/5/2022', end = '24/6/2022', freq='D')

print(f"FECHA FIN \n{fecha_fin}")

FECHA INICIO
DatetimeIndex(['2022-04-24', '2022-04-25', '2022-04-26', '2022-04-27',
               '2022-04-28', '2022-04-29', '2022-04-30', '2022-05-01',
               '2022-05-02', '2022-05-03', '2022-05-04', '2022-05-05',
               '2022-05-06', '2022-05-07', '2022-05-08', '2022-05-09',
               '2022-05-10', '2022-05-11', '2022-05-12', '2022-05-13',
               '2022-05-14', '2022-05-15', '2022-05-16', '2022-05-17',
               '2022-05-18', '2022-05-19', '2022-05-20', '2022-05-21',
               '2022-05-22', '2022-05-23', '2022-05-24'],
              dtype='datetime64[ns]', freq='D')
FECHA FIN
DatetimeIndex(['2022-05-24', '2022-05-25', '2022-05-26', '2022-05-27',
               '2022-05-28', '2022-05-29', '2022-05-30', '2022-05-31',
               '2022-06-01', '2022-06-02', '2022-06-03', '2022-06-04',
               '2022-06-05', '2022-06-06', '2022-06-07', '2022-06-08',
               '2022-06-09', '2022-06-10', '2022-06-11', '2022-06-12',
               '2022-06-13', '2022-06-14', '2022-06-15', '2022-06-16',
               '2022-06-17', '2022-06-18', '2022-06-19', '2022-06-20',
               '2022-06-21', '2022-06-22', '2022-06-23', '2022-06-24'],
              dtype='datetime64[ns]', freq='D')

In [10]:
lista_random = []

for i in range(15):
  lista_random.append(np.random.randint(2))

#DATAFRAME
df = pd.DataFrame()
df['INICIO_CAMPAÑA'] = fecha_inicio[:15]
df['FIN_CAMPAÑA'] = fecha_fin[:15]
df['TARGET'] = lista_random


df

   INICIO_CAMPAÑA FIN_CAMPAÑA  TARGET
0      2022-04-24  2022-05-24       0
1      2022-04-25  2022-05-25       0
2      2022-04-26  2022-05-26       0
3      2022-04-27  2022-05-27       0
4      2022-04-28  2022-05-28       0
5      2022-04-29  2022-05-29       0
6      2022-04-30  2022-05-30       0
7      2022-05-01  2022-05-31       1
8      2022-05-02  2022-06-01       0
9      2022-05-03  2022-06-02       0
10     2022-05-04  2022-06-03       0
11     2022-05-05  2022-06-04       0
12     2022-05-06  2022-06-05       1
13     2022-05-07  2022-06-06       1
14     2022-05-08  2022-06-07       0

In [12]:
df['DIA DE INICIO'] = df['INICIO_CAMPAÑA'].dt.day

df

   INICIO_CAMPAÑA FIN_CAMPAÑA  TARGET  DIA DE INICIO
0      2022-04-24  2022-05-24       0             24
1      2022-04-25  2022-05-25       0             25
2      2022-04-26  2022-05-26       0             26
3      2022-04-27  2022-05-27       0             27
4      2022-04-28  2022-05-28       0             28
5      2022-04-29  2022-05-29       0             29
6      2022-04-30  2022-05-30       0             30
7      2022-05-01  2022-05-31       1              1
8      2022-05-02  2022-06-01       0              2
9      2022-05-03  2022-06-02       0              3
10     2022-05-04  2022-06-03       0              4
11     2022-05-05  2022-06-04       0              5
12     2022-05-06  2022-06-05       1              6
13     2022-05-07  2022-06-06       1              7
14     2022-05-08  2022-06-07       0              8